/*The index.html file is not that big hence this css file only has one rule that sets the backgroung to an image */

body {
    background: url('../Img/bg/index-bg2.jpg');
    background-size: cover;
    padding-top: 20%;
}